<%- include('../partials/header') %>

    <main>
        <%- include('../partials/nav') %>
            <h2 class="formTitle">Log Your Trip:</h2>
            <form id="userForm" action="users/<%= res.params.userID %>?method=PUT" method="POST">
                <label>Profile Name</label><br/>
                <input name="profileName" value="<%= userDoc.profileName %>"><%= userDoc.######### %><br/>
                <label>First Name</label><br/>
                <input name="firstName" value="<%= userDoc.firstName %>"><%= userDoc.######### %><br/>
                <label>Last Name:</label><br/>
                <input name="lastName" value="<%= userDoc.lastName %>"><%= userDoc.######### %><br/>
                <label>Hometown</label><br/>
                <input name="hometown" value="<%= userDoc.hometown %>"><%= userDoc.######### %><br/>
                <label>Favorite Trip</label><br/>
                <input name="faveTrip" value="<%= userDoc.faveTrip %>"><%= userDoc.######### %><br/>
                <label>Favorite Excursion</label><br/>
                <input name="faveExcursion" value="<%= userDoc.faveExcrusion %>"><%= userDoc.######### %><br/>
                <label >Bucket List Trips</label><br/>
                <input name="bucketList" value="<%= userDoc.bucketList %>"><%= userDoc.######### %><br/>

                <input type="submit" value="Update Profile">
            </form>

    </main>

<%- include('../partials/footer') %>

<!-- NOTE TO SELF - CREATE LOGIC FOR REDIRECTING TO USER FEED INSTEAD OF USER PAGE AGAIN -->