<%- include('../partials/header') %>

    <main>
        <%- include('../partials/nav') %>
            <h2 class="formTitle">Log Your Trip:</h2>
            <form id="userForm" action="users/<%= userDoc._id %>?method=PUT" method="POST">
                <label>Profile Name</label><br/>
                <input name="profileName" value="<%= userDoc.profileName %>"><br/>
                <label>First Name</label><br/>
                <input name="firstName" value="<%= userDoc.firstName %>"><br/>
                <label>Last Name:</label><br/>
                <input name="lastName" value="<%= userDoc.lastName %>"><br/>
                <label>Hometown</label><br/>
                <input name="hometown" value="<%= userDoc.hometown %>"><br/>
                <label>Favorite Trip</label><br/>
                <input name="faveTrip" value="<%= userDoc.faveTrip %>"><br/>
                <label>Favorite Excursion</label><br/>
                <input name="faveExcursion" value="<%= userDoc.faveExcrusion %>"><br/>
                <label >Bucket List Trips</label><br/>
                <input name="bucketList" value="<%= userDoc.bucketList %>"><br/>

                <input type="submit" value="Update Profile">
            </form>

    </main>

<%- include('../partials/footer') %>

<!-- NOTE TO SELF - CREATE LOGIC FOR REDIRECTING TO USER FEED INSTEAD OF USER PAGE AGAIN -->