<%- include('../partials/header') %>

    <main>
        <%- include('../partials/nav') %>
            <div id="pfpgContainer">

                <article class="pfpg">
                    <h1>PROFILE NAME</h1>
                    <div class="pfinfo">
                        <div class="pfpicFull">
                            <img src="https://i.imgur.com/c5BIxS5.png">
                        </div>
                        <div class="pfdetails">
                            <p><%= userDoc.name %></p>
                            <p>
                                Hometown:<br/>
                                <%= userDoc.hometown %></p>
                            <p>
                                Favorite Trip<br/>
                                <%= userDoc.faveTrip %>
                            </p>
                            <p>
                                Favorite Excursion<br/>
                                <%= userDoc.faveExcursion %>
                            </p>
                            <p>
                                Bucket List Travel:<br/>
                                <ul>
                                    <li>add li for foreach</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </article>

                <aside class="pfpg">
                    <ticket class="sml">
                        <h3 class="ticketTitle">
                            TRIP NAME HERE (hardcoded)
                        </h3>
                        <div class="ticketBody">
                            <img src="./images/tickets.png" class="tripPic">
                            <div class="tripPrev">
                                <p>
                                    <span class="tripLength">TRIP START - TRIP END</span><br />
                                    <span class="tripHighlight">I act like I'm an outdoor cat, but really I'm in
                                        an indoor cat
                                        and traveling sounds like a nightmare, so I'm only here to stalk.</span>
                                </p>
                            </div>
                        </div>
                    </ticket>


                    <% userDoc.trips.forEach( trip => { %>
                        <ticket class="sml">
                            <h3 class="ticketTitle">
                                <%= trip.tripName %>
                            </h3>
                            <div class="ticketBody">
                                <img src="./images/tickets.png" class="tripPic">
                                <div class="tripPrev">
                                    <p>
                                        <span class="tripLength"><%= trip.tripStart %> - <%= trip.tripEnd %></span><br />
                                        <span class="tripHighlight"><%= trip.highlight %></span>
                                    </p>
                                </div>
                            </div>
                        </ticket> 
                    <% }) %>
                </aside>

            </div>

    </main>


    <%- include('../partials/footer') %>