<%- include('../partials/header') %>

    <main>
        <%- include('../partials/nav') %>
            <div id="tripPgContainer">

                <article class="tripPg">
                    <h1>
                        <%= tripDoc.tripName %> 
                        <% if (req.user._id == tripDoc.userID) { %>
                            <a href="./edit">EDIT</a>
                            <a href="#">DELETE</a>
                        <% } %>
                    </h1>
                    <div class="tripInfo">
                        <div class="tripPicLg">
                            <img src="https://i.imgur.com/87rDzIU.png">
                            <!-- <img src="https://i.imgur.com/nvXzRfp.jpeg"> -->
                        </div>
                        <div class="tripDetails">
                            <a href="/users/<%= tripDoc.userID %>">
                                <img src="<%= tripDoc.userPFPic %>" class="pfIcon">
                                <%= tripDoc.user %>
                            </a><br />
                            <p>
                                <span class="favorite">
                                    <%= (tripDoc.favorite===true) ? 'FAVE TRIP!' : 'Meh' %>
                                </span><br />
                                <span class="tripLength">
                                    <%= tripDoc.tripStart %> - <%= tripDoc.tripEnd %>
                                </span><br />
                                <span class="tripHighlight">
                                    <%= tripDoc.highlight %>
                                </span>
                            </p>
                        </div>
                    </div>
                    
                    <% if (tripDoc.userID == user._id) { %>
                    <div id="tripUpdateBtns">
                        <a href="/trips/<%= tripDoc._id %>/excursions/new">
                            <button>Add Excursion</button>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#">
                            <button>Edit or Delete</button>
                        </a>
                    </div>
                    <br/>
                    <% } %>

                    <div id="excusionList">
                        Excursions: |

                        <% tripDoc.excursions.forEach(excursion => { %>
                            <ticket>
                                <a href="/trips/<%= tripDoc._id %>/excursions/<%= excursion._id %>">
                                    <h3 class="ticketTitle">
                                        <%= excursion.name %>
                                    </h3>
                                </a>
                                <div class="ticketBody">
                                    <img src="<%= excursion.coverPic%>" class="tripPic">
                                    <div class="tripPrev">
                                        <!-- <div class="tripTaker">
                                            <a href="/users/<%= excursion.userID %>">
                                                <img src="<%= excursion.userPFPic %>" class="pfIcon">
                                                <p>
                                                    <%= excursion.user %>
                                                </p>
                                            </a> -->
                                        </div>
                                        <p>
                                            <span class="tripLength">
                                                <%= excursion.date %>
                                            </span><br />
                                            <span class="tripHighlight">
                                                <%= excursion.highlights %>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </ticket>
                            <% }) %>

                    </div>
                </article>

                <aside class="tripComments">
                    <ticket class="sml">
                        change this el tag name
                    </ticket>
                </aside>

            </div>

    </main>

    <%- include('../partials/footer') %>