<%- include('../partials/header') %>

    <main>
        <%- include('../partials/nav') %>
            <div id="tripPgContainer">

                <%= excursionDoc.name %><br/>
                <%= excursionDoc.tripName %><br/>
                <%= excursionDoc.country %><br/>
                
              

            </div>

    </main>

    <%- include('../partials/footer') %>