<%- include('../../partials/header') %>

    <main>
        <%- include('../../partials/nav') %>
            <div id="tripPgContainer">
                name TEST | <%= excursionDoc.name %><br/>
                date TEST | <%= excursionDoc.date %><br/>
                abou TEST | <%= excursionDoc.about %><br/>
                cove TEST | <%= excursionDoc.coverPic %><br/>
                city TEST | <%= excursionDoc.city %><br/>
                coun TEST | <%= excursionDoc.country %><br/>
                high TEST | <%= excursionDoc.highlights %><br/>
                reco TEST | <%= excursionDoc.recommends %><br/>
                trip TEST | <%= excursionDoc.tripID %><br/>
                trip TEST | <%= excursionDoc.tripName %><br/>
                user TEST | <%= excursionDoc.userID %><br/>
                user TEST | <%= excursionDoc.user %><br/>
                user TEST | <%= excursionDoc.userPFPic %><br/>

                <br/>
                <% if (excursionDoc.userID == user._id) { %>
                    <div style="background-color: chartreuse; color: #ffffff;">
                        <a href="./edit/<%= excursionDoc._id %>">[edit <img class="modifyTripIcon" src="/images/btn-edit.png">]</a>
                        &nbsp;|&nbsp;
                        <a href="#">[delete <img class="modifyTripIcon" src="/images/btn-delete.png">]</a>
                    </div>
                <% } %>
                
              

            </div>

    </main>

    <%- include('../../partials/footer') %>